@model MvcAutomation.Models.StartTestModel

@{
    string cssFile = "";
    if (!string.IsNullOrWhiteSpace(Model.CssFileName))
    {
        cssFile= "/Scripts/TestsFolder/" + Model.TypeName + "/" + Model.CssFileName;
    }
    string jsFile = "/Scripts/TestsFolder/" + Model.TypeName + "/" + Model.JsFileName;
    ViewBag.Title = "StartTest";
}

<meta http-equiv="Content-Type" content="text/html; charset=ansi" />
<link rel="stylesheet" type="text/css" href="@cssFile" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>

<div id="testArea">
    <input type="hidden" value="@Model.TestId" />
    <input type="hidden" value="@Model.DllFilePath" />
    <input type="hidden" value="@Model.ResolveDllType" />
    <label>@Model.TestName</label>
    <div id="targetArea"></div>
</div>

<script src="@jsFile"></script>