@model MvcAutomation.Models.LoginModel

@{
    ViewBag.Title = "Login Page";
}
<div id="logRegArea">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <span id="errorMsg" hidden></span>
    <br />
    <br />
    <div id="loginArea">

    </div>
    <div id="loginFields" hidden>
        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
        {
            @Html.TextBoxFor(model => model.Email, new { placeholder = "Email", @readonly = "readonly" })
            <br />
            @Html.PasswordFor(model => model.Password, new { placeholder = "Password" })
            <br />
            <input type="submit" value="OK" />
        }
    </div>
    <div id="signupFields" hidden>
        @*@using (Html.BeginForm("SignUp", "Home", FormMethod.Post))
            {
                @Html.TextBoxFor(model => model.Email, new { placeholder = "Email", @readonly = "readonly" })
                <br />
                @Html.PasswordFor(model => model.Password, new { placeholder = "Password" })
                <br />
                @Html.PasswordFor(model => model.RepeatPassword, new { placeholder = "Repeat password" })
                <br />
                <input type="submit" value="OK" />
            }*@
    </div>
</div>

@Scripts.Render("~/bundles/commonScripts")
@Scripts.Render("~/bundles/loginScripts")